<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                  <div class="p-profile"></div>
            </div>
<div class="col-sm-7">
<span class="p-tag">Web Developer</span>
<h1 class="mt-4">Sample Portfolio</h1>
<p class="p-des mt-3 mb-4">A Web Developer is a professional who is responsible for the design and construction of websites. They ensure that sites meet user expectations by ensuring they look good, run smoothly and offer easy access points with no loading issues between pages or error messages.</p>
<a href="#" class="p-readmore">Read more<img src="assets/img/play.png" alt="the icon for readmore" width="12" class="ml-2"/></a>
<div>
    <p></p>
</div>
</div>
        </div>
    </div>
</section>
